In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("ecommerce-data-with-anomalies.csv")

In [3]:
df.head()

,ID,Name,Age,Gender,City,Country,CreditCard,FullAddress,UserSignUpDate,UserLastPurchaseDate,...,UserLastLoginDate,UserPurchaseFrequency,Product Name,Category,Subcategory,Price,Date_Purchase,Quantity,Rating,Comment
0,0,Elizabeth Harris,42,F,Chungberg,Mismatched Country,2227218447017949,"75874 Chad Mountain Suite 588, West Robertches...",2021-10-31,2022-09-10,...,2022-10-23,Yearly,NaN,Furniture,Chair,-45,2022-11-16,-1,5,Decade cold it town people.
1,1,Michele Best,72,M,Port Sergio,Egypt,2556439104848944,"4039 David Fords Apt. 678, Lake Christopherber...",2023-03-25,2023-05-06,...,2023-05-15,Yearly,FreshVegetables,Grocery,Vegetables,-79,2023-03-26,1,1,Really development floor of.
2,2,Jake Taylor,-5,M,Evansmouth,Czech Republic,2273966520760545,"748 Mendez Ridges Apt. 994, Lake Jonathanton, ...",2021-09-14,2023-04-21,...,2023-07-20,Yearly,TastyBeverages,Grocery,Beverages,-1,2023-07-12,10,4,Cut television step increase structure serve u...
3,3,Christian Curry MD,64,M,Jensenfurt,Brunei Darussalam,2238348117052863,"735 Jones Mews, New Ginafurt, AR 99785",2022-03-10,2023-01-24,...,2023-04-25,Yearly,ComfortChair,Furniture,Chair,770,2023-06-26,0,0,Popular outside industry listen.
4,4,Craig Jones,92,M,East Jerry,Wallis and Futuna,2225629684025639,"95949 Jill Circle, Tuckerchester, VI 49522",2023-05-31,2023-06-26,...,2023-06-30,Yearly,FictionTales,Books,Fiction,994,2021-05-08,-1,5,Almost account important charge oil style anyone.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     1500 non-null   int64
 1   Name                   1500 non-null   object
 2   Age                    1500 non-null   int64
 3   Gender                 1500 non-null   object
 4   City                   1500 non-null   object
 5   Country                1500 non-null   object
 6   CreditCard             1500 non-null   int64
 7   FullAddress            1500 non-null   object
 8   UserSignUpDate         1500 non-null   object
 9   UserLastPurchaseDate   1500 non-null   object
 10  UserStatus             1500 non-null   object
 11  UserTotalPurchases     1500 non-null   int64
 12  UserSegment            1500 non-null   object
 13  UserLocation           1500 non-null   object
 14  UserSourceType         1500 non-null   object
 15  UserLastLoginDate      1500 non-null   object
 16  UserPurchaseFrequency  1500 non-null   object
 17  Product Name           1425 non-null   object
 18  Category               1500 non-null   object
 19  Subcategory            1500 non-null   object
 20  Price                  1500 non-null   int64
 21  Date_Purchase          1500 non-null   object
 22  Quantity               1500 non-null   int64
 23  Rating                 1500 non-null   int64
 24  Comment                1500 non-null   object
dtypes: int64(7), object(18)
memory usage: 293.1+ KB

In [5]:
df.isnull().sum()

ID                        0
Name                      0
Age                       0
Gender                    0
City                      0
Country                   0
CreditCard                0
FullAddress               0
UserSignUpDate            0
UserLastPurchaseDate      0
UserStatus                0
UserTotalPurchases        0
UserSegment               0
UserLocation              0
UserSourceType            0
UserLastLoginDate         0
UserPurchaseFrequency     0
Product Name             75
Category                  0
Subcategory               0
Price                     0
Date_Purchase             0
Quantity                  0
Rating                    0
Comment                   0
dtype: int64

In [8]:
df.shape

(1500, 25)

In [11]:
df.describe()

,ID,Age,CreditCard,UserTotalPurchases,Price,Quantity,Rating
count,1500.000000,1500.000000,1.500000e+03,1500.000000,1500.00000,1500.000000,1500.000000
mean,749.500000,67.985333,3.117282e+15,7.947333,232.60600,1.470000,2.538000
std,433.157015,63.934306,1.271170e+15,4.368671,347.58012,4.652117,2.312601
min,0.000000,-5.000000,2.221014e+15,1.000000,-100.00000,-5.000000,-1.000000
25%,374.750000,3.000000,2.266936e+15,4.000000,-48.00000,-2.000000,1.000000
50%,749.500000,53.500000,2.462863e+15,8.000000,19.00000,1.000000,2.000000
75%,1124.250000,150.000000,2.720815e+15,12.000000,502.00000,5.000000,5.000000
max,1499.000000,150.000000,5.596755e+15,15.000000,1000.00000,10.000000,6.000000

In [ ]:
Subcategory
Price
Date_Purchase
Quantity
Rating
Comment

In [13]:
df.sample(15)

,ID,Name,Age,Gender,City,Country,CreditCard,FullAddress,UserSignUpDate,UserLastPurchaseDate,...,UserLastLoginDate,UserPurchaseFrequency,Product Name,Category,Subcategory,Price,Date_Purchase,Quantity,Rating,Comment
94,94,Brian Sanchez,150,F,Ayalaview,Saint Lucia,2275468314938484,"885 John Avenue Apt. 551, Jamestown, AK 84199",2022-11-07,2023-08-19,...,2023-08-24,Monthly,MegaSpeaker,Electronics,Speaker,-6,2021-05-10,-3,1,Even arrive meeting wish though high.
1393,1393,Timothy Robinson MD,-3,F,Brianmouth,Belarus,2279663884859765,"985 Brent Ranch Apt. 682, New Amandaside, ID 8...",2022-03-31,2022-07-13,...,2022-12-29,Rarely,FreshVegetables,Grocery,Vegetables,-46,2021-04-04,2,1,Doctor card particularly those everyone genera...
1266,1266,Jessica Cobb,35,M,Bentonshire,Armenia,2259228493820311,"222 David Groves, Mariamouth, WV 99272",2021-10-01,2023-05-19,...,2023-07-26,Yearly,TastyVegetables,Grocery,Vegetables,-12,2023-05-10,10,1,Happy for politics image.
568,568,Jared Smith,5,F,Sheliamouth,Germany,2273256670984065,"849 Connie Summit Apt. 735, South Becky, MN 11030",2022-10-03,2022-11-18,...,2023-03-09,Yearly,UltraSpeaker,Electronics,Speaker,-4,2020-10-21,-2,6,Really science Republican anyone expert reduce...
925,925,Sara Norman,34,F,Port Bruce,Antigua and Barbuda,2302852503961273,"1051 Kaiser Corners, Lynchshire, UT 79532",2022-09-23,2022-10-14,...,2022-11-26,Yearly,FictionGuide,Books,Fiction,-35,2021-05-23,-1,5,Response doctor future movement allow give add.
1316,1316,Catherine Carroll,150,F,Ryanstad,New Caledonia,2296198446176092,"34800 Jones Mount Suite 405, Leeview, CA 15783",2022-12-14,2023-07-05,...,2023-08-20,Yearly,ProShirt,Clothing,Shirt,905,2022-06-11,3,5,Truth go animal meet.
421,421,Connor Frazier,62,F,Lake Daniel,New Zealand,2706585013214815,"035 Morgan Lodge Suite 403, Matthewsburgh, TN ...",2023-05-07,2023-06-01,...,2023-06-22,Yearly,PantsWear,Clothing,Pants,-96,2022-03-14,3,5,Type third yeah recent.
73,73,Kenneth Barton,89,M,East Jennifershire,Brunei Darussalam,2248093761352783,"929 Pearson Point Apt. 757, South Hannahview, ...",2022-03-04,2022-05-20,...,2023-05-26,Rarely,PantsWear,Clothing,Pants,556,2021-12-07,8,3,Act collection performance worker.
581,581,Katelyn Gonzalez,2,M,North Jillchester,Costa Rica,5433363628272609,"1305 Steve Valley Suite 627, Port Melissa, OK ...",2022-01-06,2022-07-01,...,2023-04-03,Rarely,ComfortTable,Furniture,Table,472,2022-04-03,0,6,Listen fight least money probably how.
119,119,Michael West,76,M,Kelseyside,Aruba,2289996732915779,"2932 James Roads, East Paul, GA 20008",2022-11-06,2023-08-20,...,2023-08-23,Monthly,JacketWear,Clothing,Jacket,431,2021-03-21,2,3,Quite matter back old white.
1250,1250,Michael Harris,92,M,Aguilarfort,United States of America,2271210674515633,"743 Barbara Villages Suite 528, Randyville, OH...",2023-01-23,2023-05-11,...,2023-06-22,Yearly,EducationalTales,Books,Educational,266,2023-04-19,-2,4,Build cause item.
1343,1343,Robert Holmes,150,M,Ballland,Italy,2226693070835620,"0307 Cheryl Mountain, Pratthaven, LA 76935",2022-02-14,2023-03-30,...,2023-07-01,Yearly,TableDeluxe,Furniture,Table,-97,2021-12-30,6,6,Yet east TV week who.
956,956,Darlene Williams,2,M,South Jeffery,Estonia,5106103233763733,"124 Brandon Expressway, Jamieborough, NM 23265",2023-04-16,2023-05-31,...,2023-07-30,Yearly,UltraLaptop,Electronics,Laptop,-55,2022-07-25,6,6,Plant blood remember majority continue debate.
97,97,Gavin Collins,60,F,North Toddberg,Niger,2478576177997267,"935 Sarah Neck Suite 585, New Justinton, NJ 45416",2023-04-29,2023-08-08,...,2023-08-13,Monthly,FreshBeverages,Grocery,Beverages,718,2021-12-07,5,-1,Skill rest question commercial game run.
961,961,Manuel Tran,150,M,Port Nicholasbury,Mayotte,5280283244761542,"423 Baker Pine Suite 935, Lake Jessicaport, WV...",2023-01-12,2023-07-14,...,2023-08-13,Yearly,SofaPlus,Furniture,Sofa,979,2020-10-23,-2,4,However art movie walk.

## 1- rating and quantity and price are negative so we can to remplace by valuer absolute or drop  
## 2- date_purchase date type
## 3 - 112 rows has 0 in  comumn Quantity

In [16]:
df.Category.unique()

array(['Furniture', 'Grocery', 'Books', 'Clothing', 'Electronics'],
      dtype=object)

In [22]:
result = df.loc[df['Price'] == 0]

In [24]:
result = df.loc[df['Quantity'] == 0]

In [25]:
result

,ID,Name,Age,Gender,City,Country,CreditCard,FullAddress,UserSignUpDate,UserLastPurchaseDate,...,UserLastLoginDate,UserPurchaseFrequency,Product Name,Category,Subcategory,Price,Date_Purchase,Quantity,Rating,Comment
3,3,Christian Curry MD,64,M,Jensenfurt,Brunei Darussalam,2238348117052863,"735 Jones Mews, New Ginafurt, AR 99785",2022-03-10,2023-01-24,...,2023-04-25,Yearly,ComfortChair,Furniture,Chair,770,2023-06-26,0,0,Popular outside industry listen.
15,15,Thomas Wang,44,F,Port Nicole,Peru,2419812079340443,"1804 Gabriel Cliff Suite 457, Jerryport, IA 06813",2022-12-30,2023-03-31,...,2023-06-08,Yearly,UltraLaptop,Electronics,Laptop,458,2021-01-11,0,0,Learn if side ground ten buy.
16,16,Kevin Obrien,3,M,Penaside,Bosnia and Herzegovina,2293893566103974,"914 Tanya Courts, Davidton, ID 44312",2022-09-09,2023-01-15,...,2023-04-14,Yearly,PantsWear,Clothing,Pants,-62,2022-11-12,0,6,Who probably myself enjoy require people scene...
54,54,Bradley Pennington,73,F,South Billy,Bahamas,2277355918628827,"981 Thomas Track, Banksville, OR 98862",2023-06-09,2023-07-05,...,2023-08-07,Yearly,ComfortChair,Furniture,Chair,-7,2021-07-31,0,4,Perform mean budget.
57,57,Brandon Lowe,3,M,Michaelberg,Switzerland,2245712997903241,"559 Morris Stravenue Suite 341, Wendymouth, TN...",2022-05-28,2022-06-14,...,2023-03-19,Rarely,FictionTales,Books,Fiction,294,2021-06-16,0,5,Public star participant change ever quality.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1441,1441,Jacob Morris,150,M,Mossport,Isle of Man,2706157588459553,"51547 Todd Terrace Apt. 986, East Paulmouth, K...",2022-02-22,2023-07-08,...,2023-07-13,Yearly,EducationalTales,Books,Educational,-53,2021-09-08,0,1,Institution win none despite owner work choice...
1454,1454,Kevin Williams,150,M,Dianeshire,Sweden,2707980581342164,"78244 Moyer Walk Suite 145, Josephfort, PA 55066",2022-10-27,2023-07-14,...,2023-08-10,Yearly,ChairDeluxe,Furniture,Chair,-16,2021-09-15,0,5,Oil billion store way around.
1466,1466,Daniel Johnson,68,F,New Jessica,Ireland,2698872852292809,"39166 Anderson Crescent, Foxchester, KY 09251",2021-08-27,2022-07-04,...,2023-08-16,Rarely,FreshSnacks,Grocery,Snacks,785,2022-03-02,0,2,Exactly drive type finally.
1480,1480,Jose Owens,26,F,Nicolefort,Mismatched Country,5577835408230812,"007 Cline Plains, North Heatherbury, NV 16808",2022-02-23,2022-05-29,...,2023-07-03,Rarely,NaN,Electronics,Speaker,178,2021-08-05,0,4,Among near down reveal opportunity house.
1498,1498,Scott Wilson,2,F,Johnnyberg,Guadeloupe,5204275741956370,"933 Harris Points, Melanieberg, OH 20203",2023-04-07,2023-06-12,...,2023-06-26,Yearly,FictionGuide,Books,Fiction,466,2022-02-25,0,6,Look that government.